html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}

/* Table and Text */
h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  margin: 10px 25px 10px 25px;
}

th {
  font-size: 28px;
  text-decoration: underline;
}

td {
  font-size: 26px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 25px
}

legend {
  font-size: 50px;
  text-decoration: underline;
}

fieldset {
  border-radius: 25px;
}

#totals {
  display: block;
  margin: auto
}

input {
  font-size: 25px;
}
/* button {
  border: none;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 15px;
  margin-left: 25px;
  font-family: 'Catamaran', sans-serif;
} */

button:hover {
  cursor: pointer
}

a:link {
  color: black;
}

a:visited {
  color: rgb(216, 85, 85);
}

a:hover {
  color: rgb(240, 140, 140);
}

#addStoreForm {
  font-family: 'Catamaran', sans-serif;
}

#store-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: 'Catamaran', sans-serif;
  border-radius: 25px;
}

#store-table th,
#store-table td {
  padding: 31px 48px 31px 48px;
}

td:hover {
  color: rgb(216, 85, 85);
  transition: 350ms;
}

// Wave Animation
html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ff0000;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffbe3d;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.6rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  margin-left: 20px;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}
